<!DOCTYPE html>
<html>
<head>
    <title>Online Exam App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <a href="{{ url_for('exam.dashboard') }}">Dashboard</a> | 
        <a href="{{ url_for('auth.logout') }}">Logout</a>
    </nav>
    <hr>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <p style="color: red;">{{ message }}</p>
        {% endfor %}
      {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}
</body>
</html>